# Pandas Practice
This section will go over exercises using pandas.

## Pandas: Series and DataFrames

### Series
A 1-D object similar to an array that contains a sequence of values. Has an associated array containing data labels (called its *index*).

#### Exercise 1: Series Basics

In [1]:
import pandas as pd
import numpy as np

np.random.seed(123)
scores = np.random.randint(60,90,6)
print('scores:', scores, '\n')

a = pd.Series(scores)
print('Pandas series of scores:\n', a, sep ='')

# The column on the left is the index of the series.
# The column on the right contains the scores data.

scores: [73 62 88 62 66 77]

Pandas series of scores:
0    73
1    62
2    88
3    62
4    66
5    77
dtype: int64

#### Exercise 2: Values, Indexing, Type, and Slicing

In [2]:
# Retrieving the Values of a Series
a_vals = a.values
print('values:', a_vals)

# Retrieving Indices of a Series
a_idx = a.index
print('\nindices:', a_idx)

# Value by Index
print('\nvalue by index:', a[1])

# Type
print('  type:', type(a[1]))

# Indexing
b = a[[2,5]] # takes rows 2 and 5
print('\nindexing from a:\n', b, sep='')

# Slicing
c = a[::2] # goes through every col/row, steps of 2
print('\nslicing from a:\n', c, sep='')

values: [73 62 88 62 66 77]

indices: RangeIndex(start=0, stop=6, step=1)

value by index: 62
  type: <class 'numpy.int64'>

indexing from a:
2    88
5    77
dtype: int64

slicing from a:
0    73
2    88
4    66
dtype: int64

#### Exercise 2: Create a Series

In [3]:
# can assign index values rather than the default.
b = pd.Series(scores, index = ['Alice', 'Edward', 'Bella', 'Jacob', 'Charlie', 'Rosalie'])
print(b, '\n')

# Index a single value
print(b['Edward'], '\n')

# Index rows
print(b[['Jacob', 'Alice']])

# Slicing
print('\n', b[::-3])

# Conditional Statements
print('\n', b[b>67])

Alice      73
Edward     62
Bella      88
Jacob      62
Charlie    66
Rosalie    77
dtype: int64

62

Jacob    62
Alice    73
dtype: int64

 Rosalie    77
Bella      88
dtype: int64

 Alice      73
Bella      88
Rosalie    77
dtype: int64

#### Exercise 3: Series Arithmetic

In [4]:
# Can Add/Subtract/Multiply/Divide all Elements in a series
print(b+10)
# print(b-10)
# print(b*10)
# print(b/10)
print()

# Can do the same on individual values
print(b['Bella']+10)

Alice      83
Edward     72
Bella      98
Jacob      72
Charlie    76
Rosalie    87
dtype: int64

98

#### Exercise 4: Cumulative Sum and Average

In [5]:
# Cumulative sum = value + all values that came before
# np.cumsum(): returns cumulative sum of elements

# Sum of all elements
c = np.cumsum(a)


# Sum of all elements on an axis
d = np.cumsum(a, axis=0)


#Find the average of the values in a series
avg = np.average(b)


print(c,d,avg,sep='\n\n')

0     73
1    135
2    223
3    285
4    351
5    428
dtype: int64

0     73
1    135
2    223
3    285
4    351
5    428
dtype: int64

71.33333333333333

#### Exercise 5: desribe()

In [6]:
# Use the describe function to automatically retrieve lots of info on a series
b.describe()

count     6.000000
mean     71.333333
std      10.152175
min      62.000000
25%      63.000000
50%      69.500000
75%      76.000000
max      88.000000
dtype: float64

#### Exercise 6: in and index.name

In [7]:
# Can Search for values in a series just like a python dictionary
print('Jacob' in b)
print('Aro' in b)
print()


# Can also name the index column
b.index.name = 'Names'
print(b)

True
False

Names
Alice      73
Edward     62
Bella      88
Jacob      62
Charlie    66
Rosalie    77
dtype: int64

### Create a Series from Python Dictionary

In [8]:
a = {'john': 'r.guitar', 'paul': 'bass', 'george': 'l.guitar', 'ringo':'drums'}

beatles = pd.Series(a, index=['ringo',  'paul', 'john', 'george', 'elton'])
print(beatles)

# Can also check for null values
print('\nIs null:')
print(pd.isnull(beatles))

print('\n Is not null:')
print(pd.notnull(beatles))



# Add series together!
bobbles = pd.Series({'john': ',vocals', 'paul': ',keys', 'george': ',harmony',\
                     'ringo': ',rhythm', 'elton': 'john'})

print()
print(beatles+bobbles)


# Drop Nulls: dropna()
print()
print((beatles+bobbles).dropna())

ringo        drums
paul          bass
john      r.guitar
george    l.guitar
elton          NaN
dtype: object

Is null:
ringo     False
paul      False
john      False
george    False
elton      True
dtype: bool

 Is not null:
ringo      True
paul       True
john       True
george     True
elton     False
dtype: bool

elton                  NaN
george    l.guitar,harmony
john       r.guitar,vocals
paul             bass,keys
ringo         drums,rhythm
dtype: object

george    l.guitar,harmony
john       r.guitar,vocals
paul             bass,keys
ringo         drums,rhythm
dtype: object

## Pandas DataFrame

Represents a table of data with ordered columns, rows, and column index. 
Each column can support different value types.

### Create DataFrames from Python Dictionary

In [9]:
stats = {'team':['Mavericks', 'Spurs', 'Rockets', 'Astros', 'Cowboys', 'Texans'],\
         'year': [2012, 2012, 2009, 2006, 2015, 2013], 'wins': [5,8,3,2,4, 1]}

df1 = pd.DataFrame(stats)
print(df1)

        team  year  wins
0  Mavericks  2012     5
1      Spurs  2012     8
2    Rockets  2009     3
3     Astros  2006     2
4    Cowboys  2015     4
5     Texans  2013     1

#### Exercise 1: head() and tail()

In [10]:
#Access head of dataframe using head()
print(df1.head())
print()

#Access tail of dataframe using tail()
print(df1.tail(n=3))

        team  year  wins
0  Mavericks  2012     5
1      Spurs  2012     8
2    Rockets  2009     3
3     Astros  2006     2
4    Cowboys  2015     4

      team  year  wins
3   Astros  2006     2
4  Cowboys  2015     4
5   Texans  2013     1

### DataFrame Columns

#### Exercise 1: Rename Columns

In [11]:
print('original:\n', df1, '\n')

# Switch order of columns
df1 = pd.DataFrame(stats, columns = ['year', 'team', 'wins'])
print('switched order of columns:\n', df1, '\n')

# Rename columns using dictionary
df1 = df1.rename(columns={'team': 'Team', 'year': 'Best Year',\
                          'wins' : 'Titles Won'})
print('renamed columns:\n', df1)

original:
         team  year  wins
0  Mavericks  2012     5
1      Spurs  2012     8
2    Rockets  2009     3
3     Astros  2006     2
4    Cowboys  2015     4
5     Texans  2013     1

switched order of columns:
    year       team  wins
0  2012  Mavericks     5
1  2012      Spurs     8
2  2009    Rockets     3
3  2006     Astros     2
4  2015    Cowboys     4
5  2013     Texans     1

renamed columns:
    Best Year       Team  Titles Won
0       2012  Mavericks           5
1       2012      Spurs           8
2       2009    Rockets           3
3       2006     Astros           2
4       2015    Cowboys           4
5       2013     Texans           1

#### Exercise 2: Add New Column

In [12]:
# Create new Column
df2 = pd.DataFrame(stats, columns = ['year', 'team', 'wins', 'coach'])
print(df2, df2.columns, df2.index, sep='\n\n')


# Add values to the new column
df2['coach'] = np.array(['greg', 'steve', 'alex', 'rose',\
                         'wanda', 'mike'])
print('Filled the new column:\n', df2)

   year       team  wins coach
0  2012  Mavericks     5   NaN
1  2012      Spurs     8   NaN
2  2009    Rockets     3   NaN
3  2006     Astros     2   NaN
4  2015    Cowboys     4   NaN
5  2013     Texans     1   NaN

Index(['year', 'team', 'wins', 'coach'], dtype='object')

RangeIndex(start=0, stop=6, step=1)
Filled the new column:
    year       team  wins  coach
0  2012  Mavericks     5   greg
1  2012      Spurs     8  steve
2  2009    Rockets     3   alex
3  2006     Astros     2   rose
4  2015    Cowboys     4  wanda
5  2013     Texans     1   mike

#### Exercise 3: Another Way to Add Columns, Deleting Columns

In [13]:
# Add a column
df2['Made Finals'] = df2.wins > 3
print('New Column:\n', df2, '\n')

# Delete a column
del df2['Made Finals']
print('Deleted New Column:\n', df2)

New Column:
    year       team  wins  coach  Made Finals
0  2012  Mavericks     5   greg         True
1  2012      Spurs     8  steve         True
2  2009    Rockets     3   alex        False
3  2006     Astros     2   rose        False
4  2015    Cowboys     4  wanda         True
5  2013     Texans     1   mike        False

Deleted New Column:
    year       team  wins  coach
0  2012  Mavericks     5   greg
1  2012      Spurs     8  steve
2  2009    Rockets     3   alex
3  2006     Astros     2   rose
4  2015    Cowboys     4  wanda
5  2013     Texans     1   mike

#### Exercise 4: Access DataFrame Columns

In [14]:
# Multiple ways to access column data (a and c).
# Access type of a single column (b).
# Can also access only certain columns (d).

a = df2['team']
b = type(a)
c = df2.team
d = df2[['team', 'coach']]

print(a, b, c, d, sep='\n\n')

0    Mavericks
1        Spurs
2      Rockets
3       Astros
4      Cowboys
5       Texans
Name: team, dtype: object

<class 'pandas.core.series.Series'>

0    Mavericks
1        Spurs
2      Rockets
3       Astros
4      Cowboys
5       Texans
Name: team, dtype: object

        team  coach
0  Mavericks   greg
1      Spurs  steve
2    Rockets   alex
3     Astros   rose
4    Cowboys  wanda
5     Texans   mike

### DataFrame Rows

#### Exercise 1: Retrieve Rows- iloc[ ]

In [15]:
# iloc[]: INTEGER-location based indexing
print(df2, '\n')

# retrieve single row
print('retrieve a row:\n', df2.iloc[1], '\n')

# retrieve list of rows
print('retrieve specific rows:\n', df2.iloc[[0,1,5]], '\n')

# retrieve slice of rows
print('retrieve slice:\n', df2.iloc[:3])

   year       team  wins  coach
0  2012  Mavericks     5   greg
1  2012      Spurs     8  steve
2  2009    Rockets     3   alex
3  2006     Astros     2   rose
4  2015    Cowboys     4  wanda
5  2013     Texans     1   mike

retrieve a row:
 year      2012
team     Spurs
wins         8
coach    steve
Name: 1, dtype: object

retrieve specific rows:
    year       team  wins  coach
0  2012  Mavericks     5   greg
1  2012      Spurs     8  steve
5  2013     Texans     1   mike

retrieve slice:
    year       team  wins  coach
0  2012  Mavericks     5   greg
1  2012      Spurs     8  steve
2  2009    Rockets     3   alex

#### Exercise 2: Retrieve Rows- loc[ ]

In [16]:
# loc[]: location based search. use for indices that are not integers

df2.index = ['zero', 'one', 'two', 'three', 'four', 'five']
print(df2, '\n\n')


# retrieve single row
print('single row:\n', df2.loc['four'], '\n')

# retrieve multiple rows
print('mult. rows:\n', df2.loc[['zero', 'two', 'three']], '\n')

       year       team  wins  coach
zero   2012  Mavericks     5   greg
one    2012      Spurs     8  steve
two    2009    Rockets     3   alex
three  2006     Astros     2   rose
four   2015    Cowboys     4  wanda
five   2013     Texans     1   mike


single row:
 year        2015
team     Cowboys
wins           4
coach      wanda
Name: four, dtype: object

mult. rows:
        year       team  wins coach
zero   2012  Mavericks     5  greg
two    2009    Rockets     3  alex
three  2006     Astros     2  rose

#### Exercise 3: Transpose a Table

In [17]:
t = df2.T
print(t)

            zero    one      two   three     four    five
year        2012   2012     2009    2006     2015    2013
team   Mavericks  Spurs  Rockets  Astros  Cowboys  Texans
wins           5      8        3       2        4       1
coach       greg  steve     alex    rose    wanda    mike

### Create DataFrame from Nested Dictionaries

In [18]:
sales = {'Nintendo': {'2020': 10.0, '2021': 17.2},\
         'Sega': {'2020': 5.2, '2021': 4.9},\
         'Konami': {'2020': 4.5, '2021': 4.6}}

df3 = pd.DataFrame(sales)
print(df3)

      Nintendo  Sega  Konami
2020      10.0   5.2     4.5
2021      17.2   4.9     4.6

### Pandas Series Reindexing

#### Exercise 1: Reindexing

In [19]:
# Change the order of the rows without changing the
# values each row is associated with.

# Create a Series
df1 = pd.Series([12.2, 1.3, 7.6, 8.9], index=['c', 'd', 'b', 'a'])
print('original:\n', df1, '\n', sep='')

# Reindex
df2 = df1.reindex(['a', 'b', 'c', 'd'])
print('reindexed:\n', df2, sep='')

original:
c    12.2
d     1.3
b     7.6
a     8.9
dtype: float64

reindexed:
a     8.9
b     7.6
c    12.2
d     1.3
dtype: float64

#### Exercise 2: Reindex, Forward Fill, Backward Fill

In [20]:
df3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print('original:\n', df3, '\n', sep='')

# can fill in missing rows using reindex()
df3 = df3.reindex(np.arange(6))
print('reindex to create missing rows:\n', df3, '\n', sep='')

# Fill missing values with forward fill
# ffill(): specified value carried forward to NaNs after it
ff = df3.ffill()

# Fill missing values with backward fill
# bfill(): specified value carried back to NaNs before it
bf = df3.bfill()

print('Forward Fill:', ff, '\nBackward Fill:', bf, sep='\n')

original:
0      blue
2    purple
4    yellow
dtype: object

reindex to create missing rows:
0      blue
1       NaN
2    purple
3       NaN
4    yellow
5       NaN
dtype: object

Forward Fill:
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

Backward Fill:
0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

#### Exercise 3: Reindex Columns

In [21]:
df4 = pd.DataFrame(np.arange(9).reshape((3,3)),\
                   index=['a','b','c'],\
                   columns=['Coffee', 'Tea', 'Soda'])
print(df4, '\n')

# Reindex Columns
df4 = df4.reindex(columns = ['Tea', 'Seltzer', 'Coffee'])
print('Reindexed Columns:\n', df4, sep='')

   Coffee  Tea  Soda
a       0    1     2
b       3    4     5
c       6    7     8

Reindexed Columns:
   Tea  Seltzer  Coffee
a    1      NaN       0
b    4      NaN       3
c    7      NaN       6

### Drop

#### Exercise 1: Dropping Entries from Axis for Series and DataFrame

In [22]:
# For a Series
beatles = pd.Series(np.arange(1,6),\
                    index=['john', 'george','ringo', 'paul', 'billy'])
print('Series:\n', beatles, sep='')
print()

beatles = beatles.drop('billy')
print('  Drop a row:\n', beatles, '\n', sep='')


# For a DataFrame
bobbles = pd.DataFrame(np.arange(20).reshape((5,4)),\
                       index=['paul', 'george', 'john', 'ringo', 'billy'],
                       columns=['songs', 'albums', 'instruments',\
                                'platinums'])
print('\nDataFrame:\n', bobbles, '\n')

# drop a row
bobbles = bobbles.drop('billy')
print('  Drop a Row:\n', bobbles, '\n')

# drop a column in place (no copy)
bobbles.drop('songs', axis='columns', inplace=True) # can also use axis=1
print('  Drop a Column:\n', bobbles)

Series:
john      1
george    2
ringo     3
paul      4
billy     5
dtype: int64

  Drop a row:
john      1
george    2
ringo     3
paul      4
dtype: int64


DataFrame:
         songs  albums  instruments  platinums
paul        0       1            2          3
george      4       5            6          7
john        8       9           10         11
ringo      12      13           14         15
billy      16      17           18         19

  Drop a Row:
         songs  albums  instruments  platinums
paul        0       1            2          3
george      4       5            6          7
john        8       9           10         11
ringo      12      13           14         15

  Drop a Column:
         albums  instruments  platinums
paul         1            2          3
george       5            6          7
john         9           10         11
ringo       13           14         15

### Indexing, Selection, and Filtering

#### Exercise 1: DataFrame Indexing

In [23]:
df1 = pd.Series(np.arange(10,14), index=['a', 'b', 'c', 'd'])
print('original:\n', df1)

# Multiple ways to index same value
print('\nIndexing:')
print(df1['c'])
print(df1[2])

# Slicing
print('\nSlicing:')
print(df1[1:3], '\n')
print(df1['b':'d']) # inclusive of upper-bound

# Index Multiple Values at once
print()
print('Mult. Values:\n', df1[[3,1]])

# Conditional Indexing
print()
print('Conditional:\n', df1[df1<12])

original:
 a    10
b    11
c    12
d    13
dtype: int64

Indexing:
12
12

Slicing:
b    11
c    12
dtype: int64

b    11
c    12
d    13
dtype: int64

Mult. Values:
 d    13
b    11
dtype: int64

Conditional:
 a    10
b    11
dtype: int64

#### Exercise 2: Selection and Filtering

In [24]:
df2 = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
print('original:\n', df2)

# Selection
print()
print(df2[['two', 'one']])
print()
print(df2[:2]) # special cases
print()

# Filtering
print()
print(df2['four'] < 8)
print()

# Changing Values via Filter
print()
df2[df2<6] = -1
print(df2)

original:
           one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          two  one
Ohio        1    0
Colorado    5    4
Utah        9    8
New York   13   12

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7


Ohio         True
Colorado     True
Utah        False
New York    False
Name: four, dtype: bool


          one  two  three  four
Ohio       -1   -1     -1    -1
Colorado   -1   -1      6     7
Utah        8    9     10    11
New York   12   13     14    15

#### Exercise 3: Selction using loc and iloc

In [25]:
# loc(): uses axis labels
# iloc(): uses integer index

df2 = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
print('original:\n', df2)

# Using loc()
print('\nUsing loc():\n')
print(df2.loc['New York'], '\n')
print(df2.loc['New York', ['one', 'four']], '\n')

# Using iloc():
print('\nUsing iloc():\n')
print(df2.iloc[1], '\n') # read out columns
print(df2.iloc[1, [1,3]], '\n') # read out rows from a column
print(df2.iloc[[1,2], [1,2]], '\n') # read rows from mult. columns

original:
           one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Using loc():

one      12
two      13
three    14
four     15
Name: New York, dtype: int64

one     12
four    15
Name: New York, dtype: int64


Using iloc():

one      4
two      5
three    6
four     7
Name: Colorado, dtype: int64

two     5
four    7
Name: Colorado, dtype: int64

          two  three
Colorado    5      6
Utah        9     10

## Applying Functions and Mapping

### Applying Functions

Can apply functions for a dataframe and map the contents of a dataframe to new values.

#### Exercise 1: Applying Functions on 1-D Arrays

In [26]:
df1 = pd.DataFrame(np.random.randn(4, 3), columns=list('abc'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(df1, '\n')

print('Using the np.abs() function:')
print(np.abs(df1), '\n')


# Using pd.Series.apply() to apply a function

# DataFrame
def add_ten(a):
    return a+10

print('Using apply() on DataFrame:\n', df1.apply(add_ten))


# Series MUST BE 1-D!
a = pd.Series(np.arange(6))
print('\n\nSeries:\n', a, '\n', sep='')
print('Using apply():\n', a.apply(add_ten), sep='')

               a         b         c
Utah   -0.578600  1.651437 -2.426679
Ohio   -0.428913  1.265936 -0.866740
Texas  -0.678886 -0.094709  1.491390
Oregon -0.638902 -0.443982 -0.434351

Using the np.abs() function:
               a         b         c
Utah    0.578600  1.651437  2.426679
Ohio    0.428913  1.265936  0.866740
Texas   0.678886  0.094709  1.491390
Oregon  0.638902  0.443982  0.434351

Using apply() on DataFrame:
                a          b          c
Utah    9.421400  11.651437   7.573321
Ohio    9.571087  11.265936   9.133260
Texas   9.321114   9.905291  11.491390
Oregon  9.361098   9.556018   9.565649


Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

Using apply():
0    10
1    11
2    12
3    13
4    14
5    15
dtype: int64

#### Exercise 2: More apply( )

In [27]:
# Clip the values of df1 to fall within [0,1]
df_test = df1.apply(lambda x: x.clip(0,1))
print(df_test)

# Apply to one axis
df_test = df1.apply(lambda x: x.max()-x.min(), axis='columns')
print('\n', df_test, sep='')

# Apply to multiple values along axis
df_test = df1.apply(lambda x: pd.Series([x.min(), x.max()],\
                                       index=['min', 'max']))
print('\n', df_test, '\n')

          a    b    c
Utah    0.0  1.0  0.0
Ohio    0.0  1.0  0.0
Texas   0.0  0.0  1.0
Oregon  0.0  0.0  0.0

Utah      4.078116
Ohio      2.132677
Texas     2.170276
Oregon    0.204551
dtype: float64

             a         b         c
min -0.678886 -0.443982 -2.426679
max -0.428913  1.651437  1.491390

## Sorting

Use sort_index() or sort_values() functions to sort elements in a series or dataframe.

#### Exercise 1: Sorting a Series

In [28]:
shop = pd.Series(np.arange(2,7),\
                 index=['carrots', 'apples', 'bananas'])
print('original:\n', shop, '\n', sep='')

# Sort by index
shop = shop.sort_index()
print('sort_index():\n', shop, '\n', sep='')

# Sort by value
shop = shop.sort_values()
print('sort_values():\n', shop, '\n', sep='')

ValueError: Length of values (5) does not match length of index (3)

#### Exercise 2: Sorting a DataFrame

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3,2),\
                   index=['wins', 'losses', 'draws'],\
                   columns=['tom', 'jerry'])
print(df1, '\n')

# Sort by index
df1 = df1.sort_index()
print('Sort by index:\n', df1, '\n', sep='')


# Sort by index and axis
df1 = df1.sort_index(axis=1)
print('sort by index and axis:\n', df1, '\n', sep='')


# Sort by Value, needs value parameter
df1 = df1.sort_values(by='jerry', ascending=True)
print('Sort by value:\n', df1, '\n', sep='')

### Axis Indices with Duplicate Labels

#### Exercise 1: Series

In [ ]:
a = pd.Series(np.arange(5), index=['b','a','c','b','a'])
print(a)
print()

# Check for duplicates
print(a['b'])
print()
print('Unique indices =', a.index.is_unique)

#### Exercise 2: DataFrame

In [ ]:
df1 = pd.DataFrame(np.random.randint(60,90, (4,3)),\
                   index=['a','b','a','b'])
print(df1)
print()

# Check for duplicates
print(df1.loc['a'],'\n')
print('Unique indices =', df1.index.is_unique)

## Descriptive Statistics

#### Exercise 1: sum( )

In [ ]:
df1 = pd.DataFrame([[1.5, np.nan], [7.5, -5.5],
                   [np.nan, np.nan], [1.0, -4.5]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
print(df1,'\n')

# Sum of values across columns
print('Sums:\n\n', '  cols.:\n', df1.sum(), '\n', sep='')

# Sum of Values across rows
print('  rows:\n', df1.sum(axis=0), '\n', sep='') # axis='rows' works too

#### Exercise 2: idxmax, idxmin

In [ ]:
# Find index labels of max. and min. values
print(df1, '\n')

print(df1.idxmin(), '\n')

print(df1.idxmax(axis=1), '\n')

#### Exercise 3: argmax, argmin (Series)

In [ ]:
# Find index locations of max. and min. values for a series
a = pd.Series(np.arange(5), index=['a', 'b','c','d','e'])
print(a, '\n')

print(a.argmax())
print(a.argmin())

#### Exercise 4: Accumulations and diff( )

In [ ]:
# cumsum(), cumprod(), cummin(), cummax()
print(df1, '\n')

print('cumsum:', df1.cumsum(),'\n')
print('cumprod:\n', df1.cumprod(), '\n')
print('cummin:\n', df1.cummin(), '\n')
print('cumax:\n', df1.cummax(), '\n')

print()
print('diff:\n', df1.diff())

#### Exercise 5: Percent Change, Covariance, Correlation

In [ ]:
np.random.seed(123)
df2 = pd.DataFrame(np.random.randint(60, 90, (4, 3)), 
                         index=['a', 'b', 'c', 'd'], 
                        columns = ['one', 'two', 'three'])
print(df2, '\n')

# Find percent change
print(df2.pct_change(), '\n')

# Find Covariance of two columns
print(df2['two'].cov(df2['three']), '\n')

# Find Correlation of two columns
print(df2['two'].corr(df2['three']), '\n')

# can also use cov() and corr() for the whole table
print(df2.corr(), '\n')

### Unique Values and Value Counts

In [ ]:
#

## Loading Data into Pandas dataFrame

## Multi-Level Indexing